@charset "utf-8";
/* CSS Document */
body,dl,dd,p,h1,h2,h3,h4{ margin:0; font-family: Arial;}
ol,ul{ margin:0; padding:0; list-style:none;}
a{ text-decoration:none;}
img{ border:none;}
a:hover{ text-decoration:underline;}

body{ background:#fff url(../images/body_bg.png) repeat-x;}

#top{ width:960px; height:30px; margin:0 auto;}
.top_menu{ float:left;}
.top_menu li{ float:left; background:url(../images/header_img.png) no-repeat right 14px; font-size:13px; padding-right:18px; margin-right:15px; line-height:30px;}
.top_menu a{ color:#c0c0c0;}
.top_menu a:hover{ color:#FFF;}
.top_menu .no_dot{ background:none; padding:0; margin:0;}


.top_bar{ float:left;}
.top_bar li{ float:left; height:30px; color:#FFF; font-weight:bold; font-size:13px; line-height:30px;}
.top_bar .phone{ background:url(../images/header_img.png) no-repeat 6px -16px; font-size:13px; padding:0 38px 0;}
.top_bar .help{ background:
url(../images/header_img.png) no-repeat 0 -47px; padding:0 38px 0;}
.top_bar .help a{ color:#FFF;}
.top_bar .space{ padding-right:12px;}

#header{ width:960px; height:100px; margin:0 auto; position:relative; background:url(../images/header_bg.png) no-repeat;}
#shopping{ width:260px; height:100px; background:url(../images/shopping_bg.png) no-repeat; }
#shopping p{ font-size:20px; color:#f7f7f7; padding:32px 0 0 85px;}
#shopping a{ display:block; width:114px; height:23px; background:url(../images/buttom_bg.png) no-repeat; position:absolute; top:63px; left:104px; font-size:15px; color:#ffc200; font-weight:bold; text-decoration:none; text-align:center; line-height:23px;}
#shopping a:hover{ color:#f9d86f;}

#header h1{ width:236px; position:absolute; top:0; left:50%; margin-left:-118px;}

#header .search{ top:32px; right:0;}
.search{ width:293px; height:32px; position:absolute; background:url(../images/header_input_bg.png) no-repeat;}
.search .text{ width:230px; height:32px; background:none; border:none; position:absolute; top:0; left:20px; font-size:13px; color:#666666; outline:none; line-height:32px;}
.search .btn{ width:43px; height:32px; background:none; border:none; position:absolute; top:0; right:0;}

#nav{ width:960px; height:36px; margin:0 auto; padding-top:8px;}
#nav li{ height:28px; float:left; margin-right:2px;}
#nav a{ height:28px; float:left; font-size:15px; color:#FFF; line-height:28px;}
#nav strong{ height:28px; float:left; font-weight:normal;}
#nav span{ height:28px; float:left; padding:0 16px;}

#nav a:hover,#nav .active a{ background:url(../images/nav_bg.png) repeat-x 0 -56px;}
#nav a:hover strong,#nav .active strong{ background:url(../images/nav_bg.png) no-repeat;}
#nav a:hover span,#nav .active span{ background:url(../images/nav_bg.png) no-repeat right -28px;}

#content{ width:1000px; margin:24px auto 0; background:url(../images/content_bg.png) repeat-y -1002px 0;}
#content_top{ width:1000px; background:url(../images/content_bg.png) no-repeat;}
#content_bottom{ width:1000px; background:url(../images/content_bg.png) no-repeat -2000px bottom; padding-top:10px;}

#ad{ width:940px; height:300px; position:relative; margin:0 auto;}
#ad ul{ position:absolute; top:0; left:0; z-index:1}
#ad li{ position:absolute; top:0; left:0;}
#ad h2{ position:absolute; left:34px; bottom:14px; z-index:3; font-size:25px; font-weight:bold; color:#ffc600;}
#ad p{ position:absolute; left:268px; bottom:7px; z-index:3; font-size:13px; color:#ffcccc; line-height:16px; width:630px;}
#ad .bg{ position:absolute; bottom:0; left:0; z-index:2; width:940px; height:52px; background:#000; opacity:0.8; filter:alpha(opacity:80);}

#main{ width:940px; margin:0 auto; margin-top:30px;}
#side{ width:210px; float:left;}
#wrap{ width:706px; float:right;}

.clear{ zoom:1}
.clear:after{ content:''; display:block; clear:both;}

.module_menu{}
.module_menu h2{ width:210px; height:29px; background:url(../images/h2_bg.png) repeat-x 0 -58px; font-size:15px; font-weight:bold; color:#FFF; line-height:29px; text-align:center;}
.module_menu strong{ display:block; width:210px; height:29px; background:url(../images/h2_bg.png) no-repeat left 0;}
.module_menu span{ display:block; width:210px; height:29px; background:url(../images/h2_bg.png) no-repeat right -29px; margin-bottom:1px;}

.module_menu .list{ width:210px; background:url(../images/list_bg.png) repeat-y -210px top;}
.module_menu .list ul{ background:url(../images/list_bg.png) no-repeat 0 bottom; padding:15px 8px; }
.module_menu .list li{ }
.module_menu .list a{ display:block; height:30px; border-bottom:1px solid #FFF; font-size:12px; font-weight:bold; color:#434343; line-height:30px; padding-left:32px;}
.module_menu .list a:hover{ color:#b20e00; text-decoration:none;}

.module_join{ width:210px; background:url(../images/module_join_bg.png) repeat-y -420px 0; margin-top:12px;}
.module_join_t{ background:url(../images/module_join_bg.png) no-repeat 0 0;}
.module_join_b{ background:url(../images/module_join_bg.png) no-repeat -210px bottom;}
.module_join p{ font-size:15px; color:#666666; width:178px; line-height:18px; text-align:center; padding:12px 0;}
.module_join .text{ width:178px; height:26px; background-color:#FFF; border-color:#FFF; border-left:1px solid #c0c0c0; border-top:1px solid #9c9c9c; outline:none;}
.module_join .btn{ display:block; width:88px; height:25px; border:none; font-size:15px; font-weight:bold; color:#fff; background:url(../images/module_join_btn.png) no-repeat; margin:7px auto 12px;}

#box{ width:180px; margin:0 auto;}
.module_join ul{
    width: 192px;
    margin: 0 auto; background:url(../images/module_join_li_bg.png) no-repeat 0 0;}
.module_join li{
    border-top: 1px solid white;
    padding-left: 62px;
    font-size: 13px;
    color: #434343;
}
.space1{
    height: 46px;
    line-height: 45px;
    }
.space2{
    height: 42px;
    padding-top: 5px;
    line-height: 18px;}
.space3{
    height: 44px;
    padding-top: 5px;}
#payment{
    padding: 33px 0 0 18px;}

.sort{
    height: 19px;}
.sort dl{
    float: left;}
.sort dt{
    float: left; font-size: 12px;
    color: #747474;padding-right: 2px;
    line-height: 19px; text-align: center;}
.sort dd{
    float: left;
    width: 109px;
    height: 19px; position: relative;
    margin-right: 12px;}
.sort h2{
    width: 107px;
    height: 17px;
    border: 1px solid #cccccc;
    font-size: 12px;
    font-weight: normal;text-indent: 5px;
    color: #747474;}
.sort a{
    width: 19px;height: 19px; position: absolute;
    top: 0;left: 90px;
    background: url("../images/module_join_li_bg.png") 0 -211px;}
.sort .active{
    background: #cccccc;}
.sort a:hover{background: url("../images/module_join_li_bg.png") -19px -211px;}

.sort ul{width: 107px;
    border: 1px solid #cccccc; display: none;}
.sort li{
    height: 19px;cursor: pointer;
    text-indent: 5px; font-size: 12px; color: #747474; line-height: 19px;}
.sort p{
    float: right;
    font-size: 12px;color: #747474;font-weight: normal;}
.sort p strong{color: #999999}
.sort p span{
    padding: 0 5px;}
.sort p .color{color: #b20e00;}
.pic_list{}
.pic_list h2{font-size: 18px; font-weight: bold; color: #666666;
    margin:28px 0 17px;}
.pic_list ul{width: 736px;}
.pic_list li{
    float: left;width: 182px;
    height: 200px;}
.pic_list a{
    display: block;
    width: 154px;
    height: 114px;
    border: 1px solid #FFFFFF;}
.pic_list a:hover{
    border: 1px solid #000;}
.pic_list h3{
    font-size: 15px;
    color: #666666;
    margin-top: 9px;}
.pic_list p{
    font-size: 13px;
    color: #333333;
    margin-top: 6px;}
.pic_list p span{
    color: #b20e00;}
.page{
    height: 20px;
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdc8;  }
.page a{
    display: inline-block;
    height: 20px;
    color: #b20e00;
    text-decoration: none;
    line-height: 20px;
    padding: 0 7px;}
.page a:hover,.page .active{background: #b20e00;
    color: #fff;}

#scroll{}
#scroll h2{
    font-size: 18px;
    color: #666666;
    margin: 9px 0 5px 22px;}
#scroll .scroll_wrap{
    height: 200px;
    width: 706px;
    background: url("../images/scroll.png") repeat-x 0 -486px;position: relative;}
#scroll .scroll_l{
    height: 200px;    background: url("../images/scroll.png") no-repeat 0 -86px;}

#scroll .scroll_r{
    height: 200px;    background: url("../images/scroll.png") no-repeat right -286px;}
#scroll .prev,#scroll .next{
    width: 36px;
    height: 43px;
    position: absolute;
    top: 73px;}
#scroll .prev{
    left: 0;
    background: url("../images/scroll.png") no-repeat 0 0;}
#scroll .next{
    right: 0;
    background: url("../images/scroll.png") no-repeat 0 -43px;  }

#scroll_list{}
#scroll_list ul{
    width: 615px;
    margin: 0 auto;}
#scroll_list li{
    width: 147px;
    float: left;
    margin: 34px 28px 0;}
#scroll_list a{
    display: block;
    width: 145px;
    height: 99px;border: 1px solid #c0c0c0;}
#scroll_list p{font-size: 12px;
    color: #660000;line-height: 12px;margin-top: 12px;text-align: center;}

#footer{
    height:303px;
    min-width: 1000px;
    margin-top: 10px;
    background: url("../images/footer_bg.png") repeat-x;}
#footer_t{
    width:960px;
    margin:0 auto;
    position: relative;
    height: 61px;}
#footer_t .li1{
    float: left;
    background: url("../images/module_join_li_bg.png") no-repeat 0 -230px;}
#footer_t p{
    line-height: 61px;
    font-size: 14px;
    font-weight: bold;
    color: #cbcbcb;
    margin-left: 72px;
    margin-right: 26px;}
#footer_t .li2 {
    float: left;
    background: url("../images/module_join_li_bg.png") no-repeat 0 -291px;}
#footer .search{ top:15px; right:0;}

#footer_b{
    width:960px;
    margin:0 auto;}
#footer_b li{
    float: left;
    width: 174px;
    padding: 30px 0 0 14px;}
#footer_b a{
    display: block;
    line-height: 20px;
    font-size: 13px;
    color: #cfcfcf; }
#footer_b h3{
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;}