# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
web1/document/100度.png
*.psd
web1/document/css/style.css
web1/document/index.html
web1/document/js/jquery-1.11.0.min.js
web1/document/阴影.html
web1/document/圆角.html
web1/document/js/tween.js
web1/document/IE6-7下浮动元素margin-bottom值失效的问题.html
web1/document/test.html
web1/document/js/DD_belatedPNG_0.0.8a.js
web1/document/js/100du.js
web1/document/渐变.html
